:root {
    /* ꧁ঔৣ☬✞ COULEURS PRIMAIRES ✞☬ঔৣ꧂ */
    --vhs-violet: #c77dff;
    --tv-bleu: #00b4d8;
    --erreur-rose: #ff006e;
    --matrix-vert: #0fff50;
    --amber-mort: #ffbe0b;
    --texte-lofi: #c8b8e8;


    /* 𒄆𓁹✞ FONDS & SURFACES ✞𓁹𒄆 */
    --void: #06000e;
    --base: #0c0414;
    --surface: #110820;
    --eleve: #1e0a38;
    --overlay: #2d1550;
}