@import "charte.css";
@import "animations.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    font-family: var(--font-space-mono);
    overflow-x: hidden;
    height: 100vh;
}

/* SCANLINES */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  background: repeating-linear-gradient(
    0deg,
    rgba(255,0,110,.04)  0px,
    rgba(255,0,110,.04)  1px,
    rgba(0,180,216,.04)  1px,
    rgba(0,180,216,.04)  2px,
    transparent          2px,
    transparent          4px
  );
}


/* Sections */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    position: relative;
}

section {
    width: 80%;
    position: relative;
    /* Effet de carte */
    border-left: 2px solid var(--overlay);
    padding: 1rem;
    background-color: var(--surface);
    transform: rotateY(180deg);
    transition: all .4s ease-in-out;
}

section * {
    visibility: hidden;
}

/* Retournement */
.retourne {
    transform: rotateY(0deg);
}
.retourne * {
    visibility: visible;
}




/* Titres */
h1, h2 {
    color: var(--vhs-violet);
    position: relative;
    font-size: 10vh;
    margin: 0;
}

/* Effet de glitch */
h1::before,
h1::after,
h2::before,
h2::after {
  content: attr(title);
  position: absolute;
  top: 0; left: 0;
  width: 100%;
}

/* moitié haute */
h1::before,
h2::before {
  color: var(--blue-tv);
  clip-path: inset(0 0 40% 0); 
  transform: translateX(3px);
}

 /* moitié basse */
h1::after,
h2::after {
  color: var(--erreur-rose);
  clip-path: inset(60% 0 0 0);
  transform: translateX(-3px);
}

/* Paragraphes */
p {
    font-size: 3vh;
}

h1 + p {
    color: var(--texte-lofi);
}

h1 + p a {
    text-decoration: none;
    color: var(--tv-bleu);
}

h2 + p {
    text-decoration: line-through;
    color: var(--texte-desactive);
}

/* Fleche retour */

main > a {
    position: absolute;
    top: 0;
    left: 0;
    animation: clignotte 1s ease-in-out infinite;
}

main > a svg {
    fill: var(--eleve);
    height: 20vh;
    aspect-ratio: 1;
}