@import "charte.css";
@import "animations.css";

body {
    margin: 0;
    padding: 0;
    background-color: var(--base);
    font-family: var(--font-space-mono);
    overflow-x: hidden;
    height: 100vh;
    color: var(--texte-lofi);
}

*:not(li) {
    overflow: auto;
}

/* SCANLINES */
body::after {
  content: '';
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 9999;
  background: repeating-linear-gradient(
    0deg,
    rgba(255,0,110,.04)  0px,
    rgba(255,0,110,.04)  1px,
    rgba(0,180,216,.04)  1px,
    rgba(0,180,216,.04)  2px,
    transparent          2px,
    transparent          4px
  );
}

main {
    margin-top: 5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    position: relative;
}

section, .carte {
    width: 80%;
    position: relative;
    margin-bottom: 2vh;
    /* Effet de carte */
    border-left: 2px solid var(--overlay);
    padding: 2rem;
    background-color: var(--surface);
    transition: all .4s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

#installation {
    display: block;
}

/* Cartes */
.carte {
    background-color: var(--eleve);
    height: 100%; 
    perspective-origin: 50% 50%;
    perspective: 800px;
    transition: all 120ms ease;
}
.carte:hover {
    box-shadow: 0 0 6px 2px var(--overlay);
}

section:has(.carte) {
    perspective: 800px;
    perspective-origin: 50% 50%;
    overflow: hidden;
}

/* Tableau */
table {
    border-collapse: collapse;
    width: 95%;
}
tr {
    display: flex;
    justify-content: space-evenly;
}
thead {
    border-bottom: 2px solid var(--overlay);
    background-color: var(--surface);
}
td {
    text-align: center;
}



/* Autre */
ul {
    list-style-type: disc;
}
ul ul {
    list-style-type: disc;
}

span {
    color: var(--tv-bleu);
}

a {
    text-decoration: line-through;
    color: var(--texte-desactive);
}

/* Fleche retour */

main > a {
    position: fixed;
    top: 0;
    left: 0;
    animation: clignotte 1s ease-in-out infinite;
}

main > a svg {
    fill: var(--eleve);
    height: 20vh;
    aspect-ratio: 1;
}